/groupSessions/migrations/0002_rename_follower_groupsessionsmodel_otherriders_and_more.py
/groupSessions/migrations/0003_remove_groupsessionsmodel_initiator_and_more.py
/.idea/shelf/Changes.xml
/openapi-schema.yml
/.idea/shelf/Changes/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Update_at_2022-09-11,_11_09_a_m__[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Update_at_2022-09-11__11_09_a_m___Changes_.xml
/.idea/workspace.xml
/.idea/Backend.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/vcs.xml
DS_Store
*/__pycache__/*
*.log
*.pot
*.pyc
*/*/*/__pycache__/
*/*/__pycache__/
*/__pycache__/